<% provide(:title, 'Home')%>

<div class="center hero-unit">

	<h1>The Great War's Essential Reading List</h1>

	<h2>This is the home page for the most complete reference of books about the Great War.
		</h2>
		
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
	
<%= link_to image_tag("gwerl.png", alt: "Gwerl") %>