<% provide(:title, 'Intro')%>

	
	<header id="header">
		<h1 id="cie-name">The Great War's Essential Reading List</h1>
	</header>

	<nav id="next-btn">
    	<%= link_to "Skip intro", home_path  %>
	</nav>
	
	<section id="stats">
		<h3><%= book_stats%> Books and <%= user_stats%> Users</h3>
	</section>


	<video id="video_background" preload="auto" autoplay="true" loop="loop">
	 	<source src="http://www.lihoa.com/MediaLib/The_Battle_of_Passchendaele_World_War_I.mp4" >
	</video>



