html, body {
    
}

#video_background {
	 position: absolute; 
	bottom: 0px; 
	right: 0px;
	 min-width: 100%; 
	min-height: 100%; 
	width: auto;
	 height: auto;
	 z-index: -1000; 
	overflow: hidden; }
	
#header {
		    position: absolute;
		    top: 40%;
		    left: 20px;
		    z-index: 999;
		    color: #FFA500;
		    padding: 5px;
		    width: 450px;
		    height: 70px;
		    border-radius: 5%;
		    text-align: right;
}

#header h1 {
	text-align: left;
}

#stats {
		    position: absolute;
		    top: 90%;
		    left: 20px;
		    z-index: 999;
		    color: #FFA500;
		    padding: 5px;
		    width: 450px;
		    height: 70px;
		    border-radius: 5%;
		    text-align: left;
}	
		
#slogan {
			color: #21a97e;
			opacity: .4;
			font-size: 1.4em;
			width: 400px;
}

#next-btn {
    position: absolute;
    right: 5%;
    top: 45%;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;
}

#next-btn:hover {
    opacity: .6;
	background: #FFA500;
}

.next-icon {
    display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    text-decoration: none;
}

#navbar {
display: none;
}

