
	<footer class="footer">
		<small>
			The Gwerl &copy 2013 LiteHouse Development
		</small>
		<nav><ul>
			<li><%= link_to(image_tag("Facebook-icon.png", size: "30x30"), "https://www.facebook.com/greatwar.fourteeneighteen") %> </li>
			<li><%= link_to(image_tag("tumblr-logo.png", size: "30x30"), "http://greatwar1418.tumblr.com") %> </li>
			<li><%= link_to(image_tag("twitter-icon.png", size: "30x30"), "https://twitter.com/greatwar1418") %> </li>
			<li><%= link_to "About", about_path %> </li>
			</ul>
		</nav>	
	</footer>
