
	<footer class="footer">
		<small>
			The Gwerl &copy 2013 LiteHouse Development
		</small>
		<nav><ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li></ul>
		</nav>	
	</footer>
